<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save a book</title>
</head>

<body>

<div class="container">
    <h3>Add a book</h3>
    <hr>
    <form action="#" th:action="@{/books/save}" th:object="${book}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Name" required />
        <input type="number" th:field="*{release_year}" class="form-control mb-4 col-4" placeholder="Release year" min="1000" max="2025" required />
        <input type="number" th:field="*{page_count}" class="form-control mb-4 col-4" placeholder="Page count" required />
        <b>Type the rating 0-10</b>
        <input type="number" th:field="*{rating}" class="form-control mb-4 col-4" placeholder="Rating" min="0" max="10" required />
        <input type="text" th:field="*{description}" class="form-control mb-4 col-4" placeholder="Description" required />
        <input type="text" th:field="*{author.name}" class="form-control mb-4 col-4" placeholder="Author" required />

        <hr>
        <b>Type the characters</b>
        <br><br>
        <i>One of the characters must be 'main'</i>
        <br><br>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input th:field="*{characters[0].name}" placeholder="First Character Name" required /></td>
                <td>
                    <select th:field="*{characters[0].role}" required>
                        <option value="main" th:text="'main'" selected>Main</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input th:field="*{characters[1].name}" placeholder="Second Character Name" required /></td>
                <td>
                    <select th:field="*{characters[1].role}" required>
                        <option value="main" th:text="'main'" selected>Main</option>
                        <option value="secondary" th:text="'secondary'">Secondary</option>
                        <option value="episodical" th:text="'episodical'">Episodical</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input th:field="*{characters[2].name}" placeholder="Third Character Name" required /></td>
                <td>
                    <select th:field="*{characters[2].role}" required>
                        <option value="main" th:text="'main'" selected>Main</option>
                        <option value="secondary" th:text="'secondary'">Secondary</option>
                        <option value="episodical" th:text="'episodical'">Episodical</option>
                    </select>
                </td>
            </tr>

            </tbody>
        </table>

        <hr>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/books/list}">Back to Books List</a>
</div>

</body>

</html>
